/* css goes here */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/background-marvel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
      /* background-repeat: repeat-y; */
    background-color: lightgrey;
    
    
  }
  body::-webkit-scrollbar{
    display: none;
  }
  
  .custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }

  .stone-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
  }

  .stone-item {
    margin: 10px;
    text-align: center;
  }

  .stone-item img {
    width: 150px;
    height: 150px;
  }

  #avengers_members_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
  }

  #avengers_members_container > div{
    
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    height: 500px;
    width: 300px;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
  }

  #avengers_members_container > div > h1{
    text-align: center;
    font-size: 40px;
  }
 img{
  height: 200px;
  width: 200px;
  object-fit: cover;
 }

 #avengers_members_container > div > div > p{
  display: block;
 
  max-height: 12em;

  overflow-y: scroll;
 }

 #stone_image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  
 }


 .card{
  background-color: rgba(0, 0, 0,0.8);
  
 }
 /* .carousel-item{
  overflow-y: scroll;
  height: 80vh;
 } */
 ::-webkit-scrollbar{
  display: none;
 }
#desc{
  height: 140px;
  overflow-y: scroll;
}

#alert_box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.marker-icon {
  animation: vibrate 0.3s infinite linear;
}

@keyframes vibrate {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, 2px); }
  60% { transform: translate(-2px, 0); }
  80% { transform: translate(0, -2px); }
  100% { transform: translate(0, 0); }
}



